
@{
    ViewBag.Title = "Main";
    Layout = "~/Views/Shared/Main.cshtml";
}

<h2>Change password</h2>
@if (ViewBag.IsSuccess == null)
{

    using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        
        <div class="form-horizontal">
            <h4>Change password</h4>
            <hr />
        
            <div class="form-row row">
                <span>New password</span>
                <div class="col-md-10">
                    @Html.Password("New password")
                </div>
            </div>
            <div class="form-row row">
                <span>Confirm password</span>
                <div class="col-md-10">
                    @Html.Password("Confirm password")
                </div>
            </div>
            <div class="form-row row">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Submit" class="btn btn-default" />
                        &nbsp;
                    <input type="submit" value="Cancel" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
}
else
{
    <h1>You have successfully changed your password!</h1>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}




