
@{
    ViewBag.Title = "Main";
    Layout = "~/Views/Shared/Main.cshtml";
}
    <div class="container form">
        <div class="col-lg-12">
            <h4>
                <p><small>Welcome <strong>@Html.Raw(Session["UserFullName"])</strong>(@Html.Raw(Session["UserName"]))</small></p>
            </h4>
            @*<h2>
                Supplementary Dividend Acknowledgement
            </h2>*@
            <hr />
        </div>
        <div class="col-lg-12">
            @*<p>
                Your entry is available for review by another user who has access to approve the details.
            </p>*@
            <ul class="nav flex-column nav-pills nav-forms">
                <li class="nav-item">
                    <a class="btn default" href="supplementarydividends/add">Supplementary Dividend</a>
                </li>
                <li class="nav-item">
                    <a class="btn default" href="drps/add">Submit DRP</a>
                </li>
                <li class="nav-item">
                    <a class="btn default" href="ails/add">Submit AIL</a>
                </li>
                <li class="nav-item">
                    <a class="btn default" href="/logout">Sign Out</a>
                </li>
            </ul>
        </div>
    </div>

