
@{
    ViewBag.Title = "Main";
    Layout = "~/Views/Shared/Main.cshtml";
}

<table>
    <tr>
        <td><input id="Button1" type="button" value="DRP" onclick="window.location = '/drps/add'" /></td>       
        <td><input id="Button2" type="button" value="AIL" onclick="window.location = '/ails/add'" /></td>
        <td><input id="Button3" type="button" value="Supplementary Dividend" onclick="window.location = '/supplementarydividends/add'" /></td>
    </tr>
    <tr>
        <td colspan="3">
            <input id="Button4" type="button" value="Review" onclick="window.location = '/ra/review'" />
        </td>
    </tr>
</table>

