
@{
    ViewBag.Title = "Main";
    Layout = "~/Views/Shared/Main.cshtml";
}
    <div class="container">
        <div class="col-lg-12">
            <h2>
                <p class="lead">
                    Welcome
                </p>
                Supplementary Dividend Acknowledgement
            </h2>
            <hr />
        </div>
    </div>

