
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Login</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="~/Content/styles.css" rel="stylesheet" />
    <style>
       @@media(max-width: 426px) {
            .jumbotron{
                margin:10px 0!important;
                margin-top:20px!important;
            }
            .jumbotron h1 {
                font-size:2.5rem;
            }
            .jumbotron p {
                font-size:1.2rem;
            }
            #main h2 {
                margin-top:25px;
            }
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="/">
            <img src="/Images/Logo.png" alt="Computershare" />
        </a>
    </nav>
    <div class="container">
        <div class="col-lg-12" id="splash">
            <div class="jumbotron" style="background:url('images/banner.jpg');color:#fff;font-family:Arial;margin-top:50px;">
                <h1 class="display-4" style="font-family:Arial;padding-left:2%;">RBNZ Election Portal </h1>
                <p class="lead" style="font-family:Arial;padding-left:2%;">COMPUTERSHARE INVESTOR SERVICES LIMITED</p>
                <p>
                    <a href="#main" class="btn btn default">Login</a>
                </p>
            </div>
        </div>
        <div class="col-lg-12" id="main">
            <h2>Login</h2>
            <hr />
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                if (ViewBag.ErrorMessage != null)
                {
                    <p style="color:red;">@Html.Raw(ViewBag.ErrorMessage)</p>
                }

                <div class="form-group row">
                    <label for="#txtusername" class="col-lg-2 col-sm-6 col-form-label text-right">Username</label>
                    <div class="col-lg-3 col-sm-6">
                        <input id="txtusername" name="txtusername" type="text" class="form-control" required />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="#txtpassword" class="col-lg-2 col-sm-6 col-form-label text-right">Password</label>
                    <div class="col-lg-3 col-sm-6">
                        <input id="txtpassword" name="txtpassword" type="password" class="form-control" required />
                    </div>
                </div>
                <div class="form-group row">
                    <label for=".default" class="col-lg-2 col-sm-6 col-form-label text-right"></label>
                    <div class="col-lg-3 col-sm-6">
                        <a href="forgotpassword">Forgotten password</a>
                    </div>
                </div>
                <div class="form-group row">
                    <label for=".default" class="col-lg-2 col-sm-6 col-form-label text-right"></label>
                    <div class="col-lg-3 col-sm-6">
                        <input type="submit" value="Sign In" class="btn default" />
                    </div>
                </div>
            }
        </div>
    </div>
    <footer class="container form">
        <div class="col-lg-12">
            <hr />
            <p class="text-center">
                &copy; 2019 Computershare Investor Services Limited
            </p>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
