.navbar, .default {
    background: #670A51 !important;
    color: #fff !important;
    padding-left: 20px;
    padding-right: 20px;
}

h2 {
    margin-top: 55px;
}

.form h4 {
    margin-top: 55px;
}

.form h2 {
    margin-top: unset;
    padding-left: 30px;
}

.form-horizontal {
    padding-left: 30px;
}

.col-lg-12 p {
    padding-left: 30px;
}

.col-lg-4.col-sm-6 input, .col-lg-4.col-sm-6 textarea, .col-lg-4.col-sm-6 > a, .col-lg-4.col-sm-6 select {
    margin-left: 30px;
}

.form .nav-forms li {
    padding-left: 30px;
}
.form > input {
    margin-left: 30px;
}

.nav-forms li {
    margin-bottom: 10px;
}

p, label {
    font-weight: bold;
}

footer, footer p {
    color: #494A4B !important;
    font-size: .9rem;
}

footer {
    margin-top: 50px;
    padding: 0 30px;
}

    footer p {
        font-weight: normal;
    }

hr {
    height: 2px !important;
    background: #E5E5E5;
}

@media(min-width:768px) {
    .control-label {
        padding-left: 50px !important;
    }
}

@media(max-width:767px) {
    .form h2 {
        padding-left: 0;
    }

    .form-horizontal {
        padding-left: 0;
    }

    .col-lg-12 p {
        padding-left: 0;
    }

    .form > input,.col-lg-4.col-sm-6 input, .col-lg-4.col-sm-6 textarea, .col-lg-4.col-sm-6 > a, .col-lg-4.col-sm-6 select {
        margin-left: 0;
    }

    .form .nav-forms li {
        padding-left: 0;
    }

    footer {
        padding: 0;
    }
    .text-right {
        text-align:initial!important;
    }
}

.navbar-brand img {
    padding-bottom: 4px;
}
